@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: url(./bg_2.jpg);
    height: 100vh;
    background-size: cover;
}

nav {
    background-color: #333;
    background-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    color: #fff;
    margin: 10px;
    font-size: 20px;
}

nav .logo span {
    color: salmon;
}

nav .menu ul li{
    display: flex;
    float: left;
    margin: 10px;
}

nav .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

nav .menu ul li a:hover{
    color: salmon;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 150px;
}

section .heading {
    font-size: 50px;
    color: #fff;
    margin: 10px;
    letter-spacing: 1px;
}

section .paragraph {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    letter-spacing: 1px;
}

section .btn {
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}

section .btn:hover{
    background-color: salmon;
    transition: 0.5s ease-in-out;
}

@media (max-width: 600px) {
    nav {
flex-direction: column;
    }

    body {
        /* background-repeat: no-repeat; */
        object-fit: cover;
        height: 110vh;
    }

    section {
     margin-top: 70px;
    }
    
    section .heading {
        font-size: 40px;
        color: #fff;
        margin: 10px;
        letter-spacing: 1px;
    }
    
    section .paragraph {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #fff;
        letter-spacing: 1px;
    }
}
